Repository lwmacct/251117-go-ddd-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

# 全局配置
default_stages: [pre-commit]
fail_fast: true # 发现第一个错误即停止

repos:
  # 本地自定义检查
  - repo: local
    hooks:
      - id: dto-naming
        name: Check DTO naming convention
        entry: scripts/check-dto-naming.sh
        language: script
        files: dto\.go$
        stages: [pre-commit]

      - id: application-naming
        name: Check Application layer naming convention
        entry: scripts/check-application-naming.sh
        language: script
        files: ^internal/application/.*\.go$
        stages: [pre-commit]

      - id: route-swagger-consistency
        name: Check route-swagger consistency
        entry: scripts/check-route-swagger-consistency.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]
        files: ^internal/adapters/http/(router\.go|handler/.*\.go)$

      - id: swagger-generate
        name: Generate Swagger/OpenAPI docs
        entry: bash -c 'swag init -g internal/command/api/command.go -o internal/adapters/http/docs --parseDependency --parseInternal && pnpm run api:generate'
        language: system
        pass_filenames: false
        stages: [pre-commit]
        files: ^internal/(adapters/http/handler|command/api)/.*\.go$

      - id: frontend-typecheck
        name: Check frontend TypeScript types
        entry: pnpm run type-check
        language: system
        pass_filenames: false
        stages: [pre-commit]
        files: ^src/.*\.(ts|vue)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=512"]

  - repo: https://github.com/lwmacct/251211-pre-commit
    rev: v1.0.0
    hooks:
      - id: prettier
      - id: mc-mdtoc
      - id: build-docs
      - id: golangci-lint
      - id: config-sync

docs(rules): 添加细粒度接口模式文档，改进注释措辞
  .claude/rules/backend/ddd-domain.md
  internal/domain/user/repository.go
Due: none

docs(rules): 添加 Domain/Application 层测试规范
  .claude/rules/backend/ddd-application.md
  .claude/rules/backend/ddd-domain.md
  .claude/rules/rules-creation.md
Due: none

docs(rules): 拆分 Application 层缓存接口规范到独立文件
  .claude/rules/backend/ddd-app-cache.md
  .claude/rules/backend/ddd-application.md
Due: none

docs(rules): 完善缓存规范职责分离与架构决策说明
  .claude/rules/backend/ddd-app-cache.md
  .claude/rules/backend/infra-cache.md
  config/config.example.yaml
  internal/config/config.go
Due: none

docs(rules): 放宽缓存数据类型约束，允许 Domain 实体
  .claude/rules/backend/ddd-app-cache.md
  .claude/rules/backend/ddd-domain.md
  .claude/rules/backend/infra-cache.md
Due: none

refactor(cache): 直接序列化 Domain 实体，移除 Infrastructure CacheDTO
  internal/domain/role/entity_role.go
  internal/domain/setting/entity_setting_category.go
  internal/domain/setting/entity_user_setting.go
  internal/domain/user/entity_user.go
  internal/infrastructure/cache/permission_cache_service.go
  internal/infrastructure/cache/setting_cache_service.go
  internal/infrastructure/cache/user_setting_query_cache_service.go
  internal/infrastructure/cache/user_with_roles_cache_service.go
Due: none

2
  .claude/CLAUDE.md
Due: none

refactor(domain): 统一主实体文件命名 entity_{module}.go → entity.go
  .claude/rules/backend/ddd-domain.md
  internal/domain/captcha/entity.go
  internal/domain/captcha/entity_test.go
  internal/domain/pat/entity.go
  internal/domain/pat/entity_test.go
  internal/domain/role/entity.go
  internal/domain/setting/entity.go
  internal/domain/setting/entity_test.go
  internal/domain/twofa/entity.go
  internal/domain/twofa/entity_test.go
  internal/domain/user/entity.go
Due: none

feat(task): 实现团队任务模块，演示 org + team 两级上下文
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/task.go
  internal/adapters/http/router.go
  internal/adapters/http/routes.go
  internal/adapters/http/routes/registry.go
  internal/application/task/cmd_create.go
  internal/application/task/cmd_delete.go
  internal/application/task/cmd_update.go
  internal/application/task/commands.go
  internal/application/task/doc.go
  internal/application/task/dto.go
  internal/application/task/mapper.go
  internal/application/task/qry_get.go
  internal/application/task/qry_list.go
  internal/application/task/queries.go
  internal/container/http.go
  internal/container/repository.go
  internal/container/usecase.go
  internal/domain/permission/constants.go
  internal/domain/task/doc.go
  internal/domain/task/entity.go
  internal/domain/task/errors.go
  internal/domain/task/repository.go
  internal/infrastructure/persistence/task_command_repository.go
  internal/infrastructure/persistence/task_model.go
  internal/infrastructure/persistence/task_query_repository.go
  internal/infrastructure/persistence/task_repositories.go
  src/generated/.openapi-generator/FILES
  src/generated/api.ts
  src/generated/api/organization-team-task-management-api.ts
  src/generated/models/index.ts
  src/generated/models/response-data-response-task-task-dto.ts
  src/generated/models/response-paged-response-task-task-dto.ts
  src/generated/models/task-create-task-dto.ts
  src/generated/models/task-task-dto.ts
  src/generated/models/task-update-task-dto.ts
Due: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

fix(container): 添加 Product/Task 模型到迁移列表
  internal/container/types.go
  internal/manualtest/task_test.go
Due: none

refactor(manualtest): 重构目录结构，提升 helper 到根目录
  .claude/rules/manualtest.md
  internal/manualtest/assert.go
  internal/manualtest/auditlog/auditlog_test.go
  internal/manualtest/auth/auth_test.go
  internal/manualtest/cache/cache_test.go
  internal/manualtest/client.go
  internal/manualtest/doc.go
  internal/manualtest/errors/errors_test.go
  internal/manualtest/factory.go
  internal/manualtest/helper.go
  internal/manualtest/pat/pat_test.go
  internal/manualtest/profile/profile_test.go
  internal/manualtest/role/role_test.go
  internal/manualtest/setting/setting_test.go
  internal/manualtest/system/system_test.go
  internal/manualtest/task/task_test.go
  internal/manualtest/twofa/twofa_test.go
  internal/manualtest/user/user_test.go
  internal/manualtest/usersetting/usersetting_test.go
Due: none

refactor(audit): 统一命名 auditlog → audit
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/audit.go
  internal/adapters/http/router.go
  internal/adapters/http/routes.go
  internal/adapters/http/routes/registry.go
  internal/application/audit/cmd_create.go
  internal/application/audit/dto.go
  internal/application/audit/mapper.go
  internal/application/audit/qry_get.go
  internal/application/audit/qry_list.go
  internal/container/hooks.go
  internal/container/http.go
  internal/container/repository.go
  internal/container/types.go
  internal/container/usecase.go
  internal/domain/audit/doc.go
  internal/domain/audit/entity.go
  internal/domain/audit/entity_test.go
  internal/domain/audit/repository.go
  internal/domain/permission/constants.go
  internal/infrastructure/eventhandler/audit.go
  internal/infrastructure/persistence/audit_command_repository.go
  internal/infrastructure/persistence/audit_model.go
  internal/infrastructure/persistence/audit_query_repository.go
  internal/infrastructure/persistence/audit_repositories.go
  internal/manualtest/audit/audit_test.go
  src/generated/.openapi-generator/FILES
  src/generated/api/admin-audit-log-api.ts
  src/generated/models/audit-audit-dto.ts
  src/generated/models/index.ts
  src/generated/models/response-data-response-audit-audit-dto.ts
  src/generated/models/response-paged-response-audit-audit-dto.ts
  src/pages/admin/auditlogs/composables/useAuditLogs.ts
  src/pages/admin/auditlogs/index.vue
Due: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

chore 2025-12-31 12:49:45 CST
  .claude/rules/go-doc.md
Due: none

refactor(manualtest): 合并 usersetting 测试到 user 目录
  internal/manualtest/user/usersetting_test.go
Due: none

fix(stats): 修正审计日志表名与 audit 重构保持一致
  internal/infrastructure/stats/query_repository.go
Due: none

chore 2025-12-31 16:42:42 CST
  go.mod
  go.sum
  internal/config/config.go
  internal/manualtest/helper.go
Due: none

docs: 添加副本改动回迁方法论文档
  docs/content/sync-back-migration.md
  internal/adapters/http/router.go
  internal/application/org/cmd_delete.go
  internal/application/org/cmd_team_delete.go
  internal/application/product/qry_list.go
  internal/application/product/queries.go
  internal/container/usecase.go
  internal/domain/product/repository.go
  internal/infrastructure/persistence/org_repositories.go
  internal/infrastructure/persistence/product_query_repository.go
  internal/manualtest/org/doc.go
  internal/manualtest/org/org_test.go
  internal/manualtest/org/team_test.go
  internal/manualtest/product/doc.go
  internal/manualtest/product/product_test.go
Due: application-naming, route-swagger-consistency

docs(sync-back-migration): 完善多提交场景处理
  docs/content/sync-back-migration.md
Due: none

chore 2026-01-01 00:20:54 CST
  go.mod
Due: none

refactor(handler): 统一导包别名为 <模块名>Domain 格式
  .claude/rules/backend/ddd-adapters.md
  .claude/rules/backend/ddd-principles.md
  .claude/rules/frontend/check-commands.md
  .claude/rules/rules-creation.md
  internal/adapters/http/handler/org_member.go
  internal/adapters/http/handler/pat.go
  internal/adapters/http/handler/product.go
  internal/adapters/http/handler/role.go
  internal/adapters/http/handler/task.go
  internal/adapters/http/handler/team.go
  internal/adapters/http/handler/team_member.go
  src/api/auth/client.ts
  src/api/index.ts
  src/components/UserSelector.vue
  src/pages/admin/orgs/components/OrgDialog.vue
  src/pages/admin/orgs/components/OrgMemberPanel.vue
  src/pages/admin/orgs/components/OrgTeamPanel.vue
  src/pages/admin/orgs/components/TeamDialog.vue
  src/pages/admin/orgs/composables/useAdminOrgs.ts
  src/pages/admin/orgs/index.vue
  src/pages/admin/products/components/ProductDialog.vue
  src/pages/admin/products/composables/useAdminProducts.ts
  src/pages/admin/products/index.vue
  src/pages/user/orgs/index.vue
  src/pages/user/teams/index.vue
  src/router/admin.ts
  src/router/user.ts
Due: route-swagger-consistency, swagger-generate, frontend-typecheck

refactor(handler): 统一响应消息使用常量
  internal/adapters/http/response/constants.go
  internal/domain/auth/constants.go
Due: none

refactor(handler): 使用 response 包统一响应消息
  internal/adapters/http/handler/admin_user.go
  internal/adapters/http/handler/audit.go
  internal/adapters/http/handler/auth.go
  internal/adapters/http/handler/cache.go
  internal/adapters/http/handler/captcha.go
  internal/adapters/http/handler/operation.go
  internal/adapters/http/handler/org.go
  internal/adapters/http/handler/org_member.go
  internal/adapters/http/handler/overview.go
  internal/adapters/http/handler/pat.go
  internal/adapters/http/handler/product.go
  internal/adapters/http/handler/role.go
  internal/adapters/http/handler/setting.go
  internal/adapters/http/handler/task.go
  internal/adapters/http/handler/team.go
  internal/adapters/http/handler/team_member.go
  internal/adapters/http/handler/twofa.go
  internal/adapters/http/handler/user_org.go
  internal/adapters/http/handler/user_profile.go
  internal/adapters/http/handler/user_setting.go
  internal/adapters/http/response/response.go
  internal/domain/audit/errors.go
  internal/domain/auth/doc.go
  internal/domain/auth/errors.go
  internal/domain/cache/errors.go
  internal/domain/org/errors.go
  internal/domain/role/errors.go
  internal/domain/setting/errors.go
  internal/domain/user/errors.go
Due: route-swagger-consistency, swagger-generate

docs(rules): 更新 DDD 规范文档
  .claude/rules/backend/ddd-adapters-handler.md
  .claude/rules/backend/ddd-adapters.md
  .claude/rules/backend/ddd-application-cache.md
  .claude/rules/backend/ddd-domain-errors.md
  .claude/rules/backend/ddd-domain.md
Due: none

fix(orgs): 修复成员/团队管理操作按钮不可见问题
  src/pages/admin/orgs/components/OrgMemberPanel.vue
  src/pages/admin/orgs/components/OrgTeamPanel.vue
Due: frontend-typecheck

fix(orgs): 修复成员/团队管理重复请求并优化成员查询
  internal/application/org/mapper.go
  internal/application/org/qry_member_list.go
  internal/domain/org/qry_member.go
  internal/domain/org/value_objects.go
  internal/infrastructure/database/seeds/user_seeder.go
  internal/infrastructure/persistence/org_member_query_repository.go
  internal/manualtest/org/org_test.go
  src/pages/admin/orgs/components/OrgMemberPanel.vue
  src/pages/admin/orgs/components/OrgTeamPanel.vue
Due: application-naming, frontend-typecheck

refactor(domain): 将 Domain 层错误消息改为中文
  internal/domain/audit/errors.go
  internal/domain/auth/errors.go
  internal/domain/cache/errors.go
  internal/domain/captcha/errors.go
  internal/domain/errors/errors.go
  internal/domain/org/errors.go
  internal/domain/pat/errors.go
  internal/domain/product/errors.go
  internal/domain/role/errors.go
  internal/domain/setting/errors.go
  internal/domain/task/errors.go
  internal/domain/twofa/errors.go
  internal/domain/user/errors.go
Due: none

refactor: 将系统管理域从 sys: 重命名为 admin:
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/admin_user.go
  internal/adapters/http/handler/audit.go
  internal/adapters/http/handler/cache.go
  internal/adapters/http/handler/operation.go
  internal/adapters/http/handler/org.go
  internal/adapters/http/handler/overview.go
  internal/adapters/http/handler/role.go
  internal/adapters/http/handler/setting.go
  internal/adapters/http/handler/team.go
  internal/adapters/http/routes.go
  internal/adapters/http/routes/registry.go
  internal/application/org/cmd_team_create.go
  internal/application/org/cmd_team_update.go
  internal/application/org/commands.go
  internal/application/org/dto.go
  internal/application/org/mapper.go
  internal/domain/org/entity_team.go
  internal/domain/permission/constants.go
  internal/infrastructure/database/seeds/org_seeder.go
  internal/infrastructure/database/seeds/rbac_seeder.go
  internal/infrastructure/persistence/team_model.go
  src/generated/api/admin-audit-log-api.ts
  src/generated/api/admin-organization-management-api.ts
  src/generated/api/admin-role-management-api.ts
  src/generated/api/admin-setting-categories-api.ts
  src/generated/api/admin-settings-api.ts
  src/generated/api/admin-user-management-api.ts
  src/generated/api/overview-api.ts
  src/generated/api/system-api.ts
  src/generated/models/org-create-team-dto.ts
  src/generated/models/org-team-dto.ts
  src/generated/models/org-update-team-dto.ts
  src/generated/models/org-user-team-dto.ts
Due: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

refactor(frontend): 同步 API 路径变更
  src/components/UserSelector.vue
  src/pages/admin/auditlogs/composables/useAuditLogs.ts
  src/pages/admin/orgs/composables/useAdminOrgs.ts
  src/pages/admin/overview/composables/useOverview.ts
  src/pages/admin/roles/composables/useRoles.ts
  src/pages/admin/setting-categories/composables/useSettingCategories.ts
  src/pages/admin/settings/composables/useSettings.ts
  src/pages/admin/users/components/RoleSelector.vue
  src/pages/admin/users/components/UserImportDialog.vue
  src/pages/admin/users/composables/useAdminUsers.ts
Due: frontend-typecheck

fix: 完善系统管理域重命名后的业务逻辑
  internal/adapters/http/handler/org.go
  internal/adapters/http/handler/team.go
  internal/adapters/http/middleware/org_context.go
  internal/adapters/http/routes/registry.go
  internal/manualtest/audit/audit_test.go
  internal/manualtest/auth/auth_test.go
  internal/manualtest/cache/cache_test.go
  internal/manualtest/errors/errors_test.go
  internal/manualtest/factory.go
  internal/manualtest/org/org_test.go
  internal/manualtest/org/team_test.go
  internal/manualtest/pat/pat_test.go
  internal/manualtest/product/product_test.go
  internal/manualtest/profile/profile_test.go
  internal/manualtest/role/role_test.go
  internal/manualtest/setting/setting_test.go
  internal/manualtest/system/system_test.go
  internal/manualtest/twofa/twofa_test.go
  internal/manualtest/user/user_test.go
Due: route-swagger-consistency, swagger-generate

feat(orgs): 扩展组织种子数据并优化前端导航栏体验
  internal/infrastructure/database/seeds/org_seeder.go
  internal/infrastructure/database/seeds/user_seeder.go
  src/api/auth/client.ts
  src/api/index.ts
  src/composables/useMenus.ts
  src/layout/OrgLayout.vue
  src/pages/org/tasks/components/TaskDialog.vue
  src/pages/org/tasks/components/TaskStatusChip.vue
  src/pages/org/tasks/components/TaskStatusSelect.vue
  src/pages/org/tasks/composables/useTeamTasks.ts
  src/pages/org/tasks/index.vue
  src/router/index.ts
  src/router/org.ts
  src/stores/navbar.ts
  src/views/AppBars/components/OrgTeamSelector.vue
  src/views/AppBars/components/SearchBox.vue
  src/views/AppBars/index.vue
Due: frontend-typecheck

refactor(frontend): 扁平化 API 目录结构
  src/api/auth.ts
  src/api/auth/index.ts
  src/api/client.ts
  src/api/index.ts
  src/pages/auth/login/components/TwoFactorForm.vue
  src/pages/auth/login/composables/useLogin.ts
  src/pages/auth/register/components/VerifyEmailForm.vue
  src/pages/auth/register/composables/useRegister.ts
  src/pages/user/security/composables/useTwoFactor.ts
  src/stores/auth.ts
Due: frontend-typecheck
