Repository lwmacct/251117-go-ddd-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

# 全局配置
default_stages: [pre-commit]
fail_fast: true # 发现第一个错误即停止

repos:
  # 本地自定义检查
  - repo: local
    hooks:
      - id: dto-naming
        name: Check DTO naming convention
        entry: scripts/check-dto-naming.sh
        language: script
        files: dto\.go$
        stages: [pre-commit]

      - id: application-naming
        name: Check Application layer naming convention
        entry: scripts/check-application-naming.sh
        language: script
        files: ^internal/application/.*\.go$
        stages: [pre-commit]

      - id: route-swagger-consistency
        name: Check route-swagger consistency
        entry: scripts/check-route-swagger-consistency.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]
        files: ^internal/adapters/http/(router\.go|handler/.*\.go)$

      - id: swagger-generate
        name: Generate Swagger/OpenAPI docs
        entry: bash -c 'swag init -g internal/command/api/command.go -o internal/adapters/http/docs --parseDependency --parseInternal && pnpm run api:generate'
        language: system
        pass_filenames: false
        stages: [pre-commit]
        files: ^internal/(adapters/http/handler|command/api)/.*\.go$

      - id: frontend-typecheck
        name: Check frontend TypeScript types
        entry: pnpm run type-check
        language: system
        pass_filenames: false
        stages: [pre-commit]
        files: ^src/.*\.(ts|vue)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=512"]

  - repo: https://github.com/lwmacct/251211-pre-commit
    rev: v1.0.0
    hooks:
      - id: prettier
      - id: mc-mdtoc
      - id: build-docs
      - id: golangci-lint
      - id: config-sync

feat(precommit): 添加 mapper 函数命名规范检查
  internal/application/setting/mapper.go
  internal/application/setting/qry_category_list.go
  internal/precommit/application_naming_test.go
  internal/precommit/utils_test.go
Due: application-naming

refactor(precommit): 重命名 application 测试文件并优化注释
  internal/precommit/application_test.go
Due: none

refactor(precommit): 统一测试函数名和注释格式
  internal/precommit/annotation_test.go
  internal/precommit/endpoint_test.go
  internal/precommit/router_test.go
Due: none

feat(precommit): 添加 @Param body DTO 存在性检查
  internal/precommit/annotation_test.go
  internal/precommit/utils_test.go
Due: none

feat(precommit): 添加 @Param query 类型存在性检查
  internal/precommit/annotation_test.go
  internal/precommit/utils_test.go
Due: none

refactor(operation): 统一操作注册表 + 声明式路由
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/auditlog.go
  internal/adapters/http/middleware/operation.go
  internal/adapters/http/registry/doc.go
  internal/adapters/http/registry/endpoint.go
  internal/adapters/http/router.go
  internal/adapters/http/routes.go
  internal/application/auditlog/dto.go
  internal/application/auditlog/mapper.go
  internal/domain/operation/constants.go
  internal/domain/operation/doc.go
  internal/domain/operation/methods.go
  internal/domain/operation/operation.go
  internal/domain/operation/queries.go
  internal/domain/operation/registry.go
  internal/domain/permission/constants.go
  internal/domain/permission/doc.go
  internal/infrastructure/database/seeds/rbac_seeder.go
  internal/precommit/annotation_test.go
  internal/precommit/application_test.go
  internal/precommit/endpoint_test.go
  internal/precommit/router_test.go
  internal/precommit/utils_test.go
  src/generated/.openapi-generator/FILES
  src/generated/api/admin-audit-log-api.ts
  src/generated/models/auditlog-audit-action-dto.ts
  src/generated/models/auditlog-audit-actions-response-dto.ts
  src/generated/models/auditlog-category-option-dto.ts
  src/generated/models/auditlog-operation-type-dto.ts
  src/generated/models/index.ts
  src/generated/models/response-data-response-auditlog-audit-actions-response-dto.ts
Due: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

refactor(operation): 类型化 AuditCategory + Label() 方法
  internal/application/auditlog/mapper.go
  internal/domain/operation/methods.go
  internal/domain/operation/operation.go
  internal/domain/operation/queries.go
  internal/domain/operation/registry.go
Due: application-naming

refactor(setting): 字段结构重构 + 全局 Snackbar + 技术债清理
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/application/setting/cmd_update.go
  internal/application/setting/cmd_user_set.go
  internal/application/setting/dto.go
  internal/application/setting/mapper.go
  internal/application/setting/schema_builder.go
  internal/application/setting/ui_types.go
  internal/domain/setting/entity_setting.go
  internal/domain/setting/entity_setting_test.go
  internal/domain/setting/errors.go
  internal/domain/setting/input_types.go
  internal/infrastructure/cache/setting_cache_service.go
  internal/infrastructure/database/seeds/setting_category_seeder.go
  internal/infrastructure/database/seeds/setting_seeder.go
  internal/infrastructure/persistence/setting_model.go
  internal/infrastructure/validation/jsonlogic_operators.go
  internal/infrastructure/validation/jsonlogic_validator.go
  internal/infrastructure/validation/jsonlogic_validator_test.go
  src/App.vue
  src/composables/index.ts
  src/composables/useSnackbar.ts
  src/generated/models/setting-schema-setting-dto.ts
  src/generated/models/setting-setting-dto.ts
  src/generated/models/setting-uiconfig-dto.ts
  src/generated/models/setting-user-setting-dto.ts
  src/pages/admin/settings/components/DynamicSettingField.vue
  src/pages/admin/settings/composables/useJsonLogicValidation.ts
  src/pages/admin/settings/composables/useSettings.ts
  src/pages/admin/settings/index.vue
  src/pages/user/settings/components/UserSettingField.vue
  src/pages/user/settings/composables/useUserSettings.ts
  src/pages/user/settings/index.vue
  src/stores/index.ts
  src/stores/snackbar.ts
  src/utils/index.ts
  src/utils/jsonlogic.ts
Due: dto-naming, application-naming, frontend-typecheck

refactor(setting): 简化缓存层 + 字段结构优化
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/application/setting/dto.go
  internal/application/setting/mapper.go
  internal/application/setting/qry_user_list_schema.go
  internal/application/setting/schema_builder.go
  internal/command/api/action.go
  internal/container/cache.go
  internal/container/hooks.go
  internal/container/repository.go
  internal/domain/cache/doc.go
  internal/domain/cache/setting_cache.go
  internal/domain/setting/doc.go
  internal/domain/setting/entity_setting.go
  internal/domain/setting/entity_setting_test.go
  internal/domain/setting/errors.go
  internal/domain/setting/query_repository.go
  internal/infrastructure/cache/setting_cache_service.go
  internal/infrastructure/cache/warmup/setting_warmup.go
  internal/infrastructure/database/seeds/setting_seeder.go
  internal/infrastructure/persistence/setting_cached_command_repository.go
  internal/infrastructure/persistence/setting_cached_query_repository.go
  internal/infrastructure/persistence/setting_command_with_cache_invalidation.go
  internal/infrastructure/persistence/setting_model.go
  internal/infrastructure/persistence/setting_query_repository.go
  internal/manualtest/settings_test.go
  internal/manualtest/user_settings_test.go
  src/composables/index.ts
  src/composables/useJsonLogicValidation.ts
  src/generated/models/setting-schema-group-dto.ts
  src/generated/models/setting-schema-setting-dto.ts
  src/generated/models/setting-setting-dto.ts
  src/pages/admin/settings/index.vue
  src/pages/user/settings/components/UserSettingField.vue
  src/pages/user/settings/index.vue
Due: dto-naming, application-naming, swagger-generate, frontend-typecheck

refactor(auth): 依赖倒置 - 消除 Application 层对 Infrastructure 的直接依赖
  .claude/rules/backend/ddd-application.md
  internal/application/auth/cmd_login.go
  internal/application/auth/cmd_login_2fa.go
  internal/container/service.go
  internal/container/usecase.go
  internal/domain/auth/session.go
  internal/infrastructure/auth/login_session.go
  internal/infrastructure/twofa/service.go
Due: application-naming

refactor: 清理兼容性代码 - 删除废弃的 JWT/前端兼容层
  internal/adapters/http/middleware/jwt.go
  internal/adapters/http/response/error_handler.go
  internal/infrastructure/auth/auth_service_impl.go
  internal/infrastructure/auth/jwt.go
  src/api/auth/platformAuth.ts
  src/pages/admin/settings/composables/useSettings.ts
  src/pages/user/security/composables/useTwoFactor.ts
Due: frontend-typecheck

fix(setting): 修复批量设置验证字段选择错误
  .claude/rules/manualtest.md
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/twofa.go
  internal/application/setting/cmd_batch_update.go
  internal/application/setting/cmd_user_batch_set.go
  internal/container/repository.go
  internal/domain/operation/registry.go
  internal/infrastructure/database/seeds/rbac_seeder.go
  internal/infrastructure/persistence/user_cached_command_repository.go
  internal/manualtest/user_settings_test.go
  internal/manualtest/users_api_test.go
Due: application-naming, route-swagger-consistency, swagger-generate

refactor(user-settings): 静态元数据分离 + 系统依赖预配置模式
  src/pages/user/settings/components/UserSettingField.vue
  src/pages/user/settings/composables/useUserSettings.ts
  src/pages/user/settings/index.vue
Due: frontend-typecheck

refactor(audit): 审计日志基于 operation registry 重构
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/auditlog.go
  internal/adapters/http/middleware/audit.go
  internal/domain/operation/queries.go
  src/generated/api/admin-audit-log-api.ts
  src/pages/admin/auditlogs/composables/useAuditLogs.ts
  src/pages/admin/auditlogs/index.vue
Due: route-swagger-consistency, swagger-generate, frontend-typecheck

refactor(urn): 抽取通用 URN 库至 pkg/ + URN 风格 RBAC 重构
  docs/content/architecture/identity.md
  docs/content/architecture/index.md
  docs/content/architecture/rbac-urn.md
  internal/adapters/http/middleware/rbac.go
  internal/domain/operation/constants.go
  internal/domain/operation/doc.go
  internal/domain/operation/matcher.go
  internal/domain/operation/methods.go
  internal/domain/operation/operation.go
  internal/domain/operation/queries.go
  internal/domain/operation/registry.go
  internal/domain/operation/resource.go
  internal/infrastructure/database/seeds/rbac_seeder.go
  pkg/.gitkeep
  pkg/urn/doc.go
  pkg/urn/matcher.go
  pkg/urn/resolver.go
  pkg/urn/urn.go
  pkg/urn/urn_test.go
  src/pages/admin/roles/components/PermissionSelector.vue
Due: frontend-typecheck

refactor(operation): 合并 pkg/urn 至 pkg/operation
  internal/adapters/http/middleware/audit.go
  internal/adapters/http/middleware/rbac.go
  internal/adapters/http/router.go
  internal/application/pat/cmd_create.go
  internal/domain/operation/constants.go
  internal/domain/operation/doc.go
  internal/domain/operation/matcher.go
  internal/domain/operation/meta.go
  internal/domain/operation/methods.go
  internal/domain/operation/queries.go
  internal/domain/operation/registry.go
  internal/domain/operation/resource.go
  pkg/operation/doc.go
  pkg/operation/matcher.go
  pkg/operation/operation.go
  pkg/operation/registry.go
  pkg/operation/resolver.go
  pkg/operation/resource.go
  pkg/operation/urn.go
  pkg/operation/urn_test.go
  pkg/urn/doc.go
Due: application-naming, route-swagger-consistency

refactor(operation): 实施 Builder Pattern 重构操作注册表
  internal/domain/operation/builder.go
  internal/domain/operation/registry.go
Due: none

refactor(operation): 移除废弃的向后兼容别名
  internal/adapters/http/routes.go
  internal/domain/operation/constants.go
Due: none

fix(rbac): 移除 user 角色冗余的 public:*:* 权限配置
  internal/infrastructure/database/seeds/rbac_seeder.go
Due: none

docs: 添加权限模型设计文档 (design/rbac-urn.md)
  .pre-commit-config.yaml
  docs/design/rbac-urn.md
Due: none

chore(docs): 移除旧 VitePress 文档系统
  .github/workflows/deploy-docs.yml
  docs/.vitepress/config.ts
  docs/.vitepress/config/markdown.ts
  docs/.vitepress/config/nav.json
  docs/.vitepress/config/search.json
  docs/.vitepress/config/sidebar.api.json
  docs/.vitepress/config/sidebar.architecture.json
  docs/.vitepress/config/sidebar.development.json
  docs/.vitepress/config/sidebar.guide.json
  docs/.vitepress/config/sidebar.roadmap.json
  docs/.vitepress/config/vite.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/mermaid.css
  docs/content/api/overview.md
  docs/content/architecture/data.md
  docs/content/architecture/ddd-cqrs.md
  docs/content/architecture/frontend.md
  docs/content/architecture/identity.md
  docs/content/architecture/index.md
  docs/content/architecture/migration-guide.md
  docs/content/architecture/rbac-urn.md
  docs/content/architecture/setting-cache.md
  docs/content/development.md
  docs/content/getting-started.md
  docs/content/index.md
  docs/package-lock.json
Due: none

feat(rbac): 隐性角色 + root 超级用户
  internal/container/service.go
  internal/domain/role/constants.go
  internal/domain/user/constants.go
  internal/infrastructure/auth/permission_cache_service.go
Due: none

refactor(rbac): role_permissions 关联表改为 JSONB 字段存储
  internal/command/db/action.go
  internal/container/types.go
  internal/infrastructure/database/seeds/rbac_seeder.go
  internal/infrastructure/persistence/role_command_repository.go
  internal/infrastructure/persistence/role_model.go
  internal/infrastructure/persistence/role_query_repository.go
  internal/infrastructure/persistence/user_query_repository.go
Due: none

refactor(precommit): 使用 go/ast 替代正则解析
  internal/domain/permission/constants.go
  internal/precommit/generate_test.go
  internal/precommit/utils_test.go
Due: none

feat(auth): 登录/刷新响应返回角色信息 + 用户信息持久化
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/auth.go
  internal/application/auth/cmd_login.go
  internal/application/auth/cmd_login_2fa.go
  internal/application/auth/cmd_refresh_token.go
  internal/application/auth/dto.go
  src/api/auth/client.ts
  src/generated/.openapi-generator/FILES
  src/generated/api/authentication-api.ts
  src/generated/models/auth-login-role-dto.ts
  src/generated/models/index.ts
  src/stores/auth.ts
  src/utils/auth/storage.ts
  src/views/AppBars/components/UserMenu.vue
Due: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

chore 2025-12-30 16:18:43 CST
  src/pages/admin/auditlogs/composables/useAuditLogs.ts
  src/pages/admin/auditlogs/index.vue
  src/pages/admin/overview/composables/useOverview.ts
  src/pages/admin/overview/index.vue
  src/pages/admin/roles/components/PermissionSelector.vue
  src/pages/admin/roles/composables/useRoles.ts
  src/pages/admin/roles/index.vue
  src/pages/admin/setting-categories/composables/useSettingCategories.ts
  src/pages/admin/setting-categories/index.vue
  src/pages/admin/users/components/RoleSelector.vue
  src/pages/admin/users/components/UserImportDialog.vue
  src/pages/admin/users/composables/useAdminUsers.ts
  src/pages/admin/users/index.vue
  src/pages/user/profile/components/BasicInfoForm.vue
  src/pages/user/profile/index.vue
  src/pages/user/security/components/DeleteAccountSettings.vue
  src/pages/user/security/components/PasswordSettings.vue
  src/pages/user/security/components/TwoFactorSettings.vue
  src/pages/user/security/composables/useTwoFactor.ts
  src/pages/user/tokens/composables/useTokens.ts
  src/pages/user/tokens/index.vue
Due: frontend-typecheck

chore 2025-12-30 16:27:52 CST
  README.md
Due: none

错误的文档生成路径
  api/swagger/docs.go
  api/swagger/swagger.json
  api/swagger/swagger.yaml
Due: none

docs(rules): 简化缓存装饰器规范，移除未实现的版本化回写
  .claude/rules/backend/infra-persistence.md
Due: none

docs(rules): 统一规范文件格式，添加编写指南
  .claude/rules/backend/ddd-adapters.md
  .claude/rules/backend/ddd-application.md
  .claude/rules/backend/ddd-domain.md
  .claude/rules/backend/infra-auth.md
  .claude/rules/backend/infra-cache.md
  .claude/rules/backend/infra-captcha.md
  .claude/rules/backend/infra-database.md
  .claude/rules/backend/infra-event.md
  .claude/rules/backend/infra-health.md
  .claude/rules/backend/infra-persistence.md
  .claude/rules/backend/infra-queue.md
  .claude/rules/backend/infra-stats.md
  .claude/rules/backend/infra-telemetry.md
  .claude/rules/backend/infra-twofa.md
  .claude/rules/backend/infra-validation.md
  .claude/rules/backend/infra-warmup.md
  .claude/rules/rules-creation.md
Due: none

docs(rules): 精简规范文件编写指南
  .claude/rules/rules-creation.md
Due: none

refactor(ddd): 后端规范合规性修复
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/auth.go
  internal/adapters/http/handler/health.go
  internal/adapters/http/router.go
  internal/application/cache/cache_service.go
  internal/application/cache/cmd_clear.go
  internal/application/cache/qry_get.go
  internal/application/cache/qry_info.go
  internal/application/cache/qry_keys.go
  internal/container/cache.go
  internal/container/http.go
  internal/domain/auditlog/entity_auditlog.go
  internal/domain/event/event.go
  internal/domain/health/checker.go
  internal/domain/pat/entity_pat.go
  internal/domain/role/entity_role.go
  internal/domain/twofa/entity_twofa.go
  internal/domain/user/entity_user.go
  internal/infrastructure/cache/admin_cache_service.go
  internal/infrastructure/cache/setting_cache_service.go
  internal/infrastructure/cache/warmup/doc.go
  internal/infrastructure/database/seeds/setting_category_seeder.go
  internal/infrastructure/database/seeds/user_seeder.go
  internal/infrastructure/eventbus/memory_bus.go
  internal/infrastructure/persistence/setting_cached_command_repository.go
  internal/infrastructure/stats/query_repository.go
  src/generated/.openapi-generator/FILES
  src/generated/api/authentication-api.ts
  src/generated/api/system-api.ts
  src/generated/models/index.ts
  src/generated/models/response-data-response-any.ts
Due: application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

docs(rules): 统一 Domain 层规范与 Application 层风格
  .claude/rules/backend/ddd-domain.md
  internal/precommit/domain_test.go
  internal/precommit/utils_test.go
Due: none

refactor(domain): 迁移仓储文件到新命名规范
  internal/domain/auditlog/command_repository.go
  internal/domain/auditlog/repository.go
  internal/domain/captcha/command_repository.go
  internal/domain/captcha/query_repository.go
  internal/domain/captcha/repository.go
  internal/domain/pat/command_repository.go
  internal/domain/pat/query_repository.go
  internal/domain/pat/repository.go
  internal/domain/role/command_repository.go
  internal/domain/role/repository.go
  internal/domain/setting/cmd_setting_category.go
  internal/domain/setting/cmd_user_setting.go
  internal/domain/setting/command_repository.go
  internal/domain/setting/qry_setting_category.go
  internal/domain/setting/qry_user_setting.go
  internal/domain/setting/repository.go
  internal/domain/twofa/command_repository.go
  internal/domain/twofa/query_repository.go
  internal/domain/twofa/repository.go
  internal/domain/user/command_repository.go
  internal/domain/user/repository.go
Due: none
