Repository lwmacct/251117-go-ddd-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

dto-naming:
  name: Check DTO naming convention
  entry: scripts/check-dto-naming.sh
  language: script
  stages:
  - pre-commit

application-naming:
  name: Check Application layer naming convention
  entry: scripts/check-application-naming.sh
  language: script
  stages:
  - pre-commit

route-swagger-consistency:
  name: Check route-swagger consistency
  entry: scripts/check-route-swagger-consistency.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swagger-generate:
  name: Generate Swagger/OpenAPI docs
  entry: bash -c 'swag init -g internal/command/api/command.go -o internal/adapters/http/docs --parseDependency --parseInternal && pnpm run api:generate'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-typecheck:
  name: Check frontend TypeScript types
  entry: pnpm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(rules): 完善 infrastructure 规范，新增 7 个模块文档
  .claude/CLAUDE.md
  .claude/rules/backend/infra-auth.md
  .claude/rules/backend/infra-captcha.md
  .claude/rules/backend/infra-database.md
  .claude/rules/backend/infra-event.md
  .claude/rules/backend/infra-health.md
  .claude/rules/backend/infra-persistence.md
  .claude/rules/backend/infra-queue.md
  .claude/rules/backend/infra-stats.md
  .claude/rules/backend/infra-telemetry.md
  .claude/rules/backend/infra-twofa.md
  .claude/rules/backend/infra-validation.md
  .claude/rules/frontend/api.md
  .claude/rules/frontend/principles.md
  .claude/rules/manualtest.md
  .claude/rules/swagger.md
  internal/infrastructure/telemetry/doc.go
  internal/infrastructure/telemetry/otel.go
Due: none

refactor(manualtest): 引入 testify 更多特性，简化测试代码
  .claude/rules/manualtest.md
  internal/adapters/http/handler/setting.go
  internal/adapters/http/handler/user.go
  internal/infrastructure/database/seeds/rbac_seeder.go
  internal/manualtest/auditlog_test.go
  internal/manualtest/auth_test.go
  internal/manualtest/errors_test.go
  internal/manualtest/helper/assert.go
  internal/manualtest/helper/factory.go
  internal/manualtest/helper/helper.go
  internal/manualtest/menus_test.go
  internal/manualtest/pat_test.go
  internal/manualtest/profile_test.go
  internal/manualtest/roles_test.go
  internal/manualtest/settings_test.go
  internal/manualtest/system_test.go
  internal/manualtest/twofa_test.go
  internal/manualtest/user_settings_test.go
  internal/manualtest/users_api_test.go
  internal/manualtest/users_test.go
Due: route-swagger-consistency, swagger-generate

refactor(scripts): 移除冗余的 check-dto-naming.sh，由 application-naming 统一覆盖
  .pre-commit-config.yaml
  scripts/check-dto-naming.sh
Due: none

fix(setting): 修复 CategoryID 迁移后遗留的列名问题
  internal/infrastructure/database/seeds/setting_seeder.go
  internal/infrastructure/persistence/setting_command_repository.go
  internal/manualtest/settings_test.go
Due: none

refactor(setting): 统一 Schema DTO，提取共享构建器
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/user_setting.go
  internal/application/setting/dto.go
  internal/application/setting/mapper.go
  internal/application/setting/qry_list_schema_handler.go
  internal/application/setting/qry_user_list_schema_handler.go
  internal/application/setting/schema_builder.go
  internal/manualtest/user_settings_test.go
  src/generated/.openapi-generator/FILES
  src/generated/api/user-settings-api.ts
  src/generated/models/index.ts
  src/generated/models/response-data-response-array-setting-user-schema-category-dto.ts
  src/generated/models/setting-schema-setting-dto.ts
  src/generated/models/setting-user-schema-category-dto.ts
  src/generated/models/setting-user-schema-group-dto.ts
  src/generated/models/setting-user-schema-setting-dto.ts
  src/pages/user/settings/components/UserSettingField.vue
  src/pages/user/settings/composables/useUserSettings.ts
Due: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

feat(setting): 实现两层缓存架构（系统+用户级）
  .claude/rules/backend/bootstrap.md
  .claude/rules/backend/ddd-adapters.md
  .claude/rules/backend/ddd-application.md
  .claude/rules/backend/ddd-domain.md
  .claude/rules/backend/ddd-principles.md
  .claude/rules/backend/infra-auth.md
  .claude/rules/backend/infra-cache.md
  .claude/rules/backend/infra-captcha.md
  .claude/rules/backend/infra-database.md
  .claude/rules/backend/infra-event.md
  .claude/rules/backend/infra-health.md
  .claude/rules/backend/infra-persistence.md
  .claude/rules/backend/infra-queue.md
  .claude/rules/backend/infra-redis.md
  .claude/rules/backend/infra-stats.md
  .claude/rules/backend/infra-telemetry.md
  .claude/rules/backend/infra-twofa.md
  .claude/rules/backend/infra-validation.md
  internal/bootstrap/container.go
  internal/bootstrap/init_cache.go
  internal/bootstrap/init_repos.go
  internal/bootstrap/modules.go
  internal/domain/cache/setting_cache.go
  internal/domain/cache/user_setting_cache.go
  internal/infrastructure/cache/doc.go
  internal/infrastructure/cache/setting_warmup.go
  internal/infrastructure/persistence/setting_cached_command_repository.go
  internal/infrastructure/persistence/setting_cached_query_repository.go
  internal/infrastructure/persistence/user_setting_cached_command_repository.go
  internal/infrastructure/redis/setting_cache_service.go
  internal/infrastructure/redis/user_setting_cache_service.go
Due: none

fix(setting): 修复缓存预热标记 TTL 不一致导致的空数据问题
  internal/infrastructure/persistence/setting_cached_query_repository.go
  internal/infrastructure/redis/setting_cache_service.go
Due: none

refactor(setting): 统一缓存架构，移除 Repository 层直接 Redis 依赖
  .claude/rules/backend/bootstrap.md
  internal/application/setting/schema_builder.go
  internal/bootstrap/init_cache.go
  internal/bootstrap/init_repos.go
  internal/bootstrap/modules.go
  internal/domain/cache/user_setting_query_cache.go
  internal/infrastructure/persistence/user_setting_cached_command_repository.go
  internal/infrastructure/persistence/user_setting_cached_query_repository.go
  internal/infrastructure/redis/user_setting_query_cache_service.go
Due: application-naming

feat(setting): 实现 Schema API 响应缓存（三层架构）
  .claude/rules/backend/bootstrap.md
  .claude/rules/backend/infra-redis.md
  internal/application/setting/qry_list_schema_handler.go
  internal/application/setting/qry_user_list_schema_handler.go
  internal/application/setting/schema_cache.go
  internal/bootstrap/container.go
  internal/bootstrap/init_cache.go
  internal/bootstrap/init_repos.go
  internal/bootstrap/init_usecases.go
  internal/bootstrap/modules.go
  internal/domain/cache/doc.go
  internal/infrastructure/persistence/user_setting_cached_command_repository.go
  internal/infrastructure/redis/schema_cache_service.go
Due: application-naming

refactor(cache): 统一 RedisJSON 存储，移除版本控制机制
  .claude/rules/backend/infra-redis.md
  internal/application/setting/qry_user_list_categories_handler.go
  internal/application/setting/schema_cache.go
  internal/bootstrap/init_usecases.go
  internal/domain/cache/setting_cache.go
  internal/domain/cache/user_setting_cache.go
  internal/infrastructure/persistence/setting_cached_query_repository.go
  internal/infrastructure/redis/permission_cache_service.go
  internal/infrastructure/redis/schema_cache_service.go
  internal/infrastructure/redis/setting_cache_service.go
  internal/infrastructure/redis/setting_schema_cache_service.go
  internal/infrastructure/redis/user_setting_cache_service.go
  internal/infrastructure/redis/user_setting_query_cache_service.go
Due: application-naming

refactor(cli+database): 简化命令结构，合并迁移工具
  internal/bootstrap/container.go
  internal/bootstrap/init_cache.go
  internal/bootstrap/init_infra.go
  internal/bootstrap/init_repos.go
  internal/bootstrap/modules.go
  internal/command/db/action.go
  internal/command/db/command.go
  internal/command/migrate/action.go
  internal/command/migrate/command.go
  internal/command/seed/action.go
  internal/command/seed/command.go
  internal/domain/cache/setting_category_cache.go
  internal/infrastructure/cache/doc.go
  internal/infrastructure/cache/setting_category_warmup.go
  internal/infrastructure/database/migration.go
  internal/infrastructure/database/migration_manager.go
  internal/infrastructure/database/migrator.go
  internal/infrastructure/persistence/setting_cached_query_repository.go
  internal/infrastructure/persistence/setting_category_cached_query_repository.go
  internal/infrastructure/persistence/setting_model.go
  internal/infrastructure/redis/setting_cache_service.go
  internal/infrastructure/redis/setting_category_cache_service.go
  main.go
Due: none

refactor(cache): 重组缓存基础设施，分离预热模块
  .claude/rules/backend/infra-cache.md
  .claude/rules/backend/infra-database.md
  .claude/rules/backend/infra-redis.md
  .claude/rules/backend/infra-warmup.md
  internal/bootstrap/container.go
  internal/bootstrap/init_cache.go
  internal/bootstrap/init_infra.go
  internal/bootstrap/init_repos.go
  internal/bootstrap/init_services.go
  internal/bootstrap/modules.go
  internal/command/db/action.go
  internal/command/db/command.go
  internal/command/worker/action.go
  internal/domain/cache/doc.go
  internal/domain/cache/permission_cache.go
  internal/domain/cache/setting_cache.go
  internal/domain/cache/setting_category_cache.go
  internal/domain/cache/user_setting_cache.go
  internal/domain/cache/user_with_roles_cache.go
  internal/infrastructure/auth/permission_cache_service.go
  internal/infrastructure/cache/doc.go
  internal/infrastructure/cache/permission_cache_service.go
  internal/infrastructure/cache/redis_client.go
  internal/infrastructure/cache/setting_cache_service.go
  internal/infrastructure/cache/setting_category_cache_service.go
  internal/infrastructure/cache/setting_schema_cache_service.go
  internal/infrastructure/cache/user_setting_cache_service.go
  internal/infrastructure/cache/user_setting_query_cache_service.go
  internal/infrastructure/cache/user_with_roles_cache_service.go
  internal/infrastructure/database/migration.go
  internal/infrastructure/database/seeds/rbac_seeder.go
  internal/infrastructure/health/checker.go
  internal/infrastructure/persistence/user_cached_query_repository.go
  internal/infrastructure/persistence/user_query_repository.go
  internal/infrastructure/redis/doc.go
  internal/infrastructure/warmup/doc.go
  internal/infrastructure/warmup/setting_category_warmup.go
  internal/infrastructure/warmup/setting_warmup.go
Due: none

feat(appbars): 重构 AppBars 组件，借鉴 SaaS 模板功能
  src/App.vue
  src/stores/index.ts
  src/stores/navbar.ts
  src/types/router.d.ts
  src/views/AppBars/components/DrawerMenuItem.vue
  src/views/AppBars/components/FavoriteButton.vue
  src/views/AppBars/components/MenuListSection.vue
  src/views/AppBars/components/ProductsPanel.vue
  src/views/AppBars/components/RecentPagesPanel.vue
  src/views/AppBars/components/SearchBox.vue
  src/views/AppBars/components/ThemeToggle.vue
  src/views/AppBars/components/UserMenu.vue
  src/views/AppBars/composables/index.ts
  src/views/AppBars/composables/useAccessHistory.ts
  src/views/AppBars/index.vue
  src/views/AppBars/types.ts
Due: frontend-typecheck

fix(cache): 修复空缓存被误判为有效数据的问题
  internal/infrastructure/cache/setting_schema_cache_service.go
  internal/infrastructure/persistence/setting_cached_query_repository.go
Due: none

docs(rules): 补充预热规范的核心原则和禁止事项
  .claude/rules/backend/infra-warmup.md
Due: none

fix(cache): 统一 SettingCategory 缓存查询逻辑
  internal/infrastructure/persistence/setting_category_cached_query_repository.go
Due: none

refactor(warmup): 移动 warmup 包到 cache/warmup 子目录
  .claude/rules/backend/infra-warmup.md
  internal/bootstrap/container.go
  internal/infrastructure/cache/warmup/doc.go
  internal/infrastructure/cache/warmup/setting_category_warmup.go
  internal/infrastructure/cache/warmup/setting_warmup.go
Due: none

fix(cache): 修复部分缓存场景下过滤返回空数据的问题
  internal/application/setting/qry_list_schema_handler.go
  internal/application/setting/qry_user_list_schema_handler.go
  internal/infrastructure/persistence/setting_cached_query_repository.go
Due: application-naming

docs(rules): 补充 Redis key 环境前缀说明
  .claude/rules/backend/infra-cache.md
  config/config.example.yaml
  internal/config/config.go
Due: none

feat(settings): 添加 Tab 懒加载骨架屏 + 修复切换闪烁
  src/components/ResponsiveTabs.vue
  src/components/SkeletonLoader.vue
  src/pages/admin/settings/composables/useSettings.ts
  src/pages/admin/settings/index.vue
  src/pages/user/settings/composables/useUserSettings.ts
  src/pages/user/settings/index.vue
Due: frontend-typecheck

feat(ResponsiveTabs): 添加 minContentHeight prop 支持内容区撑满高度
  src/components/ResponsiveTabs.vue
  src/pages/admin/settings/index.vue
  src/pages/user/settings/index.vue
Due: frontend-typecheck

refactor(cache): 移除预热标记，简化缓存架构
  .claude/rules/backend/infra-warmup.md
  docs/.vitepress/config/sidebar.architecture.json
  docs/content/architecture/setting-cache.md
  internal/domain/cache/setting_cache.go
  internal/domain/cache/setting_category_cache.go
  internal/infrastructure/cache/setting_cache_service.go
  internal/infrastructure/cache/setting_category_cache_service.go
  internal/infrastructure/cache/warmup/setting_category_warmup.go
  internal/infrastructure/cache/warmup/setting_warmup.go
  internal/infrastructure/persistence/setting_category_cached_query_repository.go
  src/pages/admin/settings/index.vue
  src/pages/user/settings/index.vue
Due: frontend-typecheck

refactor(bootstrap): 迁移至 Uber Fx + 扁平化目录结构
  go.mod
  go.sum
  internal/bootstrap/container.go
  internal/bootstrap/init_cache.go
  internal/bootstrap/init_events.go
  internal/bootstrap/init_handlers.go
  internal/bootstrap/init_infra.go
  internal/bootstrap/init_repos.go
  internal/bootstrap/init_router.go
  internal/bootstrap/init_services.go
  internal/bootstrap/init_usecases.go
  internal/bootstrap/modules.go
  internal/bootstrap/usecases.go
  internal/command/api/action.go
  internal/command/db/action.go
  internal/container/cache.go
  internal/container/hooks.go
  internal/container/http.go
  internal/container/infra.go
  internal/container/repository.go
  internal/container/service.go
  internal/container/types.go
  internal/container/usecase.go
Due: swagger-generate

docs(container): 统一注释为中文
  internal/container/cache.go
  internal/container/hooks.go
  internal/container/http.go
  internal/container/infra.go
  internal/container/repository.go
  internal/container/service.go
  internal/container/types.go
  internal/container/usecase.go
Due: none

refactor(container): 删除聚合模块，使用 fx.Out/fx.In 简化依赖注入
  .claude/rules/backend/fx-container.md
  internal/container/cache.go
  internal/container/hooks.go
  internal/container/http.go
  internal/container/repository.go
  internal/container/service.go
  internal/container/usecase.go
Due: none

feat(api): 添加权限常量化 + API 注册表 + Request/Operation ID
  internal/adapters/http/middleware/audit.go
  internal/adapters/http/middleware/operation.go
  internal/adapters/http/middleware/requestid.go
  internal/adapters/http/registry/doc.go
  internal/adapters/http/registry/endpoint.go
  internal/adapters/http/router.go
  internal/application/auditlog/cmd_create_handler.go
  internal/application/auditlog/commands.go
  internal/domain/auditlog/entity_auditlog.go
  internal/domain/permission/constants.go
  internal/domain/permission/doc.go
  internal/infrastructure/database/seeds/rbac_seeder.go
  internal/infrastructure/persistence/auditlog_model.go
  scripts/check-route-swagger-consistency.sh
Due: application-naming, route-swagger-consistency

feat(cache): 为 SettingCategory 添加 Command 缓存装饰器
  internal/container/repository.go
  internal/infrastructure/persistence/setting_category_cached_command_repository.go
Due: none

refactor(http): 用 Go 单测替代 bash 脚本验证 API 一致性
  .pre-commit-config.yaml
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/user.go
  internal/adapters/http/registry/endpoint_test.go
  internal/adapters/http/router.go
  internal/container/http.go
  scripts/check-route-swagger-consistency.sh
  src/generated/.openapi-generator/FILES
  src/generated/api.ts
  src/generated/api/user-api.ts
Due: route-swagger-consistency, swagger-generate, frontend-typecheck

refactor(test): 拆分 endpoint_test.go 为独立测试文件
  internal/adapters/http/registry/annotation_test.go
  internal/adapters/http/registry/endpoint_test.go
  internal/adapters/http/registry/router_test.go
Due: none

refactor(test): 移动测试到 internal/precommit 目录
  .pre-commit-config.yaml
  internal/precommit/annotation_test.go
  internal/precommit/endpoint_test.go
  internal/precommit/router_test.go
Due: none

refactor(precommit): 用 Go 测试替代 application-naming.sh
  .pre-commit-config.yaml
  internal/precommit/application_naming_test.go
  scripts/check-application-naming.sh
Due: none

refactor(precommit): 合并重复的 pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(precommit): 添加 @Success DTO 类型存在性验证
  internal/precommit/annotation_test.go
Due: none

refactor(precommit): 提取辅助函数到 utils_test.go
  internal/precommit/annotation_test.go
  internal/precommit/application_naming_test.go
  internal/precommit/router_test.go
  internal/precommit/utils_test.go
Due: none

chore(deps): 升级 uuid 和 otel/trace 为直接依赖
  go.mod
Due: none

feat(auth): 添加 refresh token 审计日志
  internal/adapters/http/handler/auth.go
  internal/application/auth/cmd_refresh_token.go
  internal/application/auth/commands.go
  internal/container/usecase.go
Due: application-naming, route-swagger-consistency, swagger-generate

Path conditions:
  dto-naming: any of: dto\.go$
  application-naming: any of: ^internal/application/.*\.go$
  route-swagger-consistency: any of: ^internal/adapters/http/(router\.go|handler/.*\.go)$
  swagger-generate: any of: ^internal/(adapters/http/handler|command/api)/.*\.go$
  frontend-typecheck: any of: ^src/.*\.(ts|vue)$
