Repository lwmacct/251117-go-ddd-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: dto-naming, application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

dto-naming:
  name: Check DTO naming convention
  entry: scripts/check-dto-naming.sh
  language: script
  stages:
  - pre-commit

application-naming:
  name: Check Application layer naming convention
  entry: scripts/check-application-naming.sh
  language: script
  stages:
  - pre-commit

route-swagger-consistency:
  name: Check route-swagger consistency
  entry: scripts/check-route-swagger-consistency.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swagger-generate:
  name: Generate Swagger/OpenAPI docs
  entry: bash -c 'swag init -g internal/command/api/command.go -o internal/adapters/http/docs --parseDependency --parseInternal && pnpm run api:generate'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

frontend-typecheck:
  name: Check frontend TypeScript types
  entry: pnpm run type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(handler): inline Query DTOs and use struct-based Swagger annotations
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/CLAUDE.md
  internal/adapters/http/handler/admin_user.go
  internal/adapters/http/handler/auditlog.go
  internal/adapters/http/handler/role.go
  internal/adapters/http/handler/user.go
  internal/adapters/http/response/pagination.go
  internal/application/user/qry_list_users.go
  internal/application/user/qry_list_users_handler.go
  src/generated/api/admin-audit-log-api.ts
  src/generated/api/admin-role-management-api.ts
  src/generated/api/admin-user-management-api.ts
  src/pages/admin/auditlogs/composables/useAuditLogs.ts
Due: application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

chore 2025-12-26 04:41:58 CST
  pyproject.toml
Due: none

chore 2025-12-26 04:49:25 CST
  internal/application/cache/cmd_delete_cache_handler.go
  internal/application/cache/cmd_set_cache_handler.go
  internal/application/cache/qry_get_cache_handler.go
  pyproject.toml
Due: application-naming

refactor(api): consolidate response types and fix LoginResponseDTO
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/application/auth/dto.go
  src/api/CLAUDE.md
  src/api/auth/client.ts
  src/api/auth/platformAuth.ts
  src/api/errors.ts
  src/api/types.ts
  src/generated/models/auth-login-response-dto.ts
  src/types/index.ts
  src/types/response/index.ts
Due: dto-naming, application-naming, frontend-typecheck

chore 2025-12-26 05:11:37 CST
  pyproject.toml
Due: none

chore: remove unused src/types directory
  src/types/index.ts
  src/types/utils.ts
Due: frontend-typecheck

fix: use omitzero for nested struct field in LoginResponseDTO
  internal/application/auth/dto.go
Due: dto-naming, application-naming

refactor(admin): extract useServerPagination composable to fix duplicate API requests
  src/composables/index.ts
  src/composables/useServerPagination.ts
  src/pages/admin/auditlogs/composables/useAuditLogs.ts
  src/pages/admin/auditlogs/index.vue
  src/pages/admin/roles/composables/useRoles.ts
  src/pages/admin/roles/index.vue
  src/pages/admin/users/composables/useAdminUsers.ts
  src/pages/admin/users/index.vue
Due: frontend-typecheck

fix(pagination): handle Vuetify -1 (All) option and set default limit to 30
  src/composables/useServerPagination.ts
  src/pages/admin/auditlogs/index.vue
  src/pages/admin/roles/index.vue
  src/pages/admin/users/index.vue
Due: frontend-typecheck

fix(context): use WithoutCancel for async goroutines to preserve trace info
  internal/adapters/http/middleware/audit.go
  internal/application/auth/cmd_login_handler.go
  internal/bootstrap/init_usecases.go
  internal/infrastructure/auth/pat_service.go
  internal/infrastructure/auth/permission_cache_service.go
  internal/manualtest/menus_test.go
  internal/manualtest/settings_test.go
Due: application-naming

test(manualtest): add new test cases and fix audit-log API path
  internal/manualtest/auditlog_test.go
  internal/manualtest/profile_test.go
  internal/manualtest/twofa_test.go
  internal/manualtest/users_test.go
Due: none

feat(telemetry): integrate OpenTelemetry for distributed tracing
  config/config.example.yaml
  go.mod
  go.sum
  internal/adapters/http/middleware/jwt.go
  internal/adapters/http/router.go
  internal/bootstrap/init_infra.go
  internal/bootstrap/modules.go
  internal/command/worker/action.go
  internal/config/config.go
  internal/infrastructure/database/connection.go
  internal/infrastructure/redis/client.go
  internal/infrastructure/telemetry/otel.go
Due: route-swagger-consistency

fix(setting): optimize batch update API and add instant switch toggle
  go.mod
  go.sum
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/handler/setting.go
  internal/application/setting/cmd_batch_update_settings_handler.go
  internal/domain/setting/query_repository.go
  internal/infrastructure/database/connection.go
  internal/infrastructure/database/slog_logger.go
  internal/infrastructure/persistence/setting_query_repository.go
  src/generated/models/handler-batch-update-settings-request-settings-inner.ts
  src/generated/models/handler-batch-update-settings-request.ts
  src/generated/models/handler-update-setting-request.ts
  src/pages/admin/settings/composables/useSettings.ts
  src/pages/admin/settings/index.vue
Due: application-naming, route-swagger-consistency, swagger-generate, frontend-typecheck

feat(seeds): add SettingSeeder for system settings initialization
  internal/infrastructure/database/seeds/registry.go
  internal/infrastructure/database/seeds/setting_seeder.go
Due: none

fix(pagination): add warning field for out-of-range page and fix API param order
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/response/response.go
  src/api/helpers.ts
  src/generated/models/response-pagination-meta.ts
  src/pages/admin/roles/components/PermissionSelector.vue
  src/pages/admin/users/components/RoleSelector.vue
Due: frontend-typecheck

fix(pagination): increase max limit from 100 to 1000
  internal/adapters/http/docs/docs.go
  internal/adapters/http/docs/swagger.json
  internal/adapters/http/docs/swagger.yaml
  internal/adapters/http/response/pagination.go
  src/generated/api/admin-audit-log-api.ts
  src/generated/api/admin-role-management-api.ts
  src/generated/api/admin-user-management-api.ts
Due: frontend-typecheck

chore 2025-12-26 08:40:12 CST
  pyproject.toml
Due: none

docs: add project README.md
  README.md
Due: none

docs: remove duplicate quick-start section from index.md
  docs/content/index.md
Due: none

docs: simplify index.md and enhance README tech stack
  README.md
  docs/content/index.md
Due: none

docs: add openapi-generator to README tech stack
  README.md
Due: none

docs: migrate handler CLAUDE.md to .claude/rules
  .claude/rules/ddd-adapters.md
  .claude/rules/swagger.md
  internal/adapters/http/handler/CLAUDE.md
Due: none

test(manualtest): enhance API tests with stricter assertions
  .claude/rules/manualtest.md
  internal/manualtest/auditlog_test.go
  internal/manualtest/auth_test.go
  internal/manualtest/menus_test.go
  internal/manualtest/pat_test.go
  internal/manualtest/profile_test.go
  internal/manualtest/roles_test.go
  internal/manualtest/settings_test.go
  internal/manualtest/system_test.go
  internal/manualtest/twofa_test.go
  internal/manualtest/users_test.go
Due: none

fix(manualtest): correct cache test API path and request format
  internal/manualtest/system_test.go
Due: none

feat(auth): add login audit logging
  internal/adapters/http/handler/auth.go
  internal/application/auth/cmd_login.go
  internal/application/auth/cmd_login_2fa_handler.go
  internal/application/auth/cmd_login_handler.go
  internal/bootstrap/init_usecases.go
Due: application-naming, route-swagger-consistency, swagger-generate

chore: remove vendor symlink
  vendor
Due: none

chore 2025-12-26 17:41:44 CST
  go.mod
  go.sum
  src/pages/admin/overview/index.vue
Due: frontend-typecheck

chore 2025-12-27 15:03:04 CST
  Taskfile.yml
Due: none

chore 2025-12-27 15:07:29 CST
  .air.toml
Due: none

chore 2025-12-27 17:09:17 CST
  docs/content/development.md
Due: none

feat(auth): add theme toggle support to login page
  .claude/rules/backend/adapters.md
  .claude/rules/backend/application.md
  .claude/rules/backend/bootstrap.md
  .claude/rules/backend/domain.md
  .claude/rules/backend/godoc.md
  .claude/rules/backend/infrastructure.md
  .claude/rules/backend/principles.md
  .claude/rules/frontend/api.md
  src/composables/index.ts
  src/composables/useThemeToggle.ts
  src/layout/AuthLayout.vue
  src/main.ts
  src/pages/auth/login/components/LoginForm.vue
  src/pages/auth/login/components/TwoFactorForm.vue
  src/views/AppBars/index.vue
Due: frontend-typecheck

refactor(frontend): 使用 VueUse 优化浏览器 API 操作
  .claude/rules/frontend/vueuse.md
  src/components/AvatarUploader.vue
  src/composables/useThemeToggle.ts
  src/main.ts
  src/pages/user/security/composables/useTwoFactor.ts
  src/pages/user/tokens/components/TokenDisplay.vue
  src/plugins/loadingBar/composable.ts
Due: frontend-typecheck

refactor(frontend): 使用 Vuetify 主题系统替换硬编码颜色
  .claude/CLAUDE.md
  .claude/rules/frontend/layout.md
  .claude/rules/frontend/pages.md
  .claude/rules/frontend/principles.md
  src/components/PasswordStrengthIndicator.vue
  src/components/SkeletonLoader.vue
  src/pages/admin/auditlogs/index.vue
  src/pages/admin/users/components/UserImportDialog.vue
  src/pages/auth/register/components/RegisterForm.vue
  src/pages/auth/register/components/VerifyEmailForm.vue
  src/pages/user/profile/components/BasicInfoForm.vue
  src/pages/user/security/components/TwoFactorSettings.vue
Due: frontend-typecheck

fix(frontend): 修复审计日志快速操作按钮路由路径
  src/pages/admin/overview/index.vue
Due: frontend-typecheck

refactor(infrastructure): 重构模块结构，精简 PATService，补充 doc.go
  internal/bootstrap/init_repos.go
  internal/bootstrap/init_services.go
  internal/infrastructure/auth/doc.go
  internal/infrastructure/auth/login_session.go
  internal/infrastructure/auth/pat_service.go
  internal/infrastructure/captcha/doc.go
  internal/infrastructure/captcha/repository.go
  internal/infrastructure/captcha/service.go
  internal/infrastructure/queue/doc.go
  internal/infrastructure/queue/processor.go
  internal/infrastructure/stats/doc.go
  internal/infrastructure/stats/query_repository.go
  internal/infrastructure/twofa/doc.go
  internal/infrastructure/twofa/service.go
  internal/infrastructure/validation/doc.go
  internal/infrastructure/validation/jsonlogic_validator.go
Due: none

refactor(rules): 重组后端规则文件，按职责细分 infrastructure 规范
  .claude/rules/backend/ddd-adapters.md
  .claude/rules/backend/ddd-application.md
  .claude/rules/backend/ddd-domain.md
  .claude/rules/backend/ddd-principles.md
  .claude/rules/backend/infra-auth.md
  .claude/rules/backend/infra-database.md
  .claude/rules/backend/infra-event.md
  .claude/rules/backend/infra-persistence.md
  .claude/rules/backend/infra-redis.md
  .claude/rules/go-doc.md
  internal/infrastructure/eventbus/doc.go
Due: none

Path conditions:
  dto-naming: any of: dto\.go$
  application-naming: any of: ^internal/application/.*\.go$
  route-swagger-consistency: any of: ^internal/adapters/http/(router\.go|handler/.*\.go)$
  swagger-generate: any of: ^internal/(adapters/http/handler|command/api)/.*\.go$
  frontend-typecheck: any of: ^src/.*\.(ts|vue)$
